@{
    if(Page.Title != ""){
        Page.Title = "FinderGram 2.0";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Page.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Anagram Finder">
    <meta name="author" content="Alister Stevens">
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>-->
    <link href="~/Assets/Styles/styles.css" type="text/css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    <div id="wrapper">
        <div id="headerWrapper">
            @RenderPage("~/Shared/header.cshtml")
        </div>
        <main id="content" role="main">
            @RenderBody()
        </main>
        @RenderPage("~/Shared/footer.cshtml")
    </div>
</body>
</html>
